* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #16181A;
    font-family: 'Inter';
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}